html, 
body {
    margin: 0;
    padding: 0;
    color: #141414;
    scroll-behavior: smooth;
}
li > a {
    text-decoration: none;
    color: #090909;
}
h1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 108.2%;
    letter-spacing: -0.03em;
    margin: 10px 0;
}
h5 {
    margin: 0;
}
p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}
.date {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: block;
    margin: 0;
}
.container {
    padding: 0 20px;
}
header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 0;
}
.align-right {
    margin-left: auto;
    margin-right: 20px;
}

li {
    list-style: none;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}
.preview {
    padding: 70px 0 20px 0;
    background: gray url(../images/blog-image-hero.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.card img, .article img {
    width: 100%;
    margin: 30px 0;
    border-radius: 5px;
}

.view-more {
    text-align: center;
    margin: 20px;
}

.view-more a {
    color: #141414;
}

h1 a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #202020;
    color: white;
    text-align: center;
    padding: 30px;
}

.avatar-img {
    max-width: 182px;
}

.card-more {
    display: none;
}



@media  screen and (max-width: 480px) {
    header ul {
        flex-direction: column;
    }
    .align-right {
    margin: 10px 0;
}
}

.cards {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(240px, 300px));
      justify-content: center;
    }
    
@media  screen and (min-width: 768px) {
  
   li {
      font-size: 20px;
    } 
    .container{
        max-width: 1024px;
        margin: 0 auto;
        
    }
    .article {
        max-width: 840px; 
        margin: 0 auto;
    }
    .about-me {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    h1 {
        font-size: 32px;
    }
}

